extends layout

block content
     //
     p
          |    Lorem Ipsum......
          br
          |    Lorem Ipsum......
          br
          |    Lorem Ipsum......
          br
          |    Lorem Ipsum......
          br
          |    Lorem Ipsum......
          br