nav
        button(href='') LOGO
        |  |
        a(href='') Home
        |  |
        a(href='') Tracks
        |  |
        a(href='') Principles
        |  |
        a(href='') Account
        |  |
        a(href='') Signin/Login