- var signin = {status: false}

nav
        button(href='') LOGO
        |  |
        a(href='/') Home
        |  |
        a(href='/tracks') Tracks
        |  |
        a(href='/account') Account
        |  |
        if  (signin.status)
                a(href='/goodbye') Sign Out
        else
                a(href='/') Sign Up / Log In