extends layout

block content
	h2 Hi **NAME**! What is important to you?  Add your tracks below!

	P
		h2 My Tracks:

		// Render a list of tracks from the object passed into the render function
		h3 Sample Track Title
		h4 Description: This is an example track description that will contain all the things about this track

	h3 Add Tracks:
	button ADD